@model IEnumerable<Lesson1.Models.ResortDto>
@{
    ViewBag.Title = "List";
}

<h1>Resort List</h1>
<p>Click into the resort to read more details!</p>
<a class="add_btn" href="/Resort/New">Add New Resort</a>

<div class="pic1">
    
</div>

@foreach(var resort in Model)
            {
                <h2><a href="/Resort/Details/@resort.ResortId">@resort.ResortName</a></h2>
                <div><b>Address:</b> @resort.address</div>
                <div><b>Description:</b> @resort.description</div>

            }

