
@{
    ViewBag.Title = "Create";
}

<h2>New Price</h2>
<form action="/Price/Create" method="POST">
    
    <div>
        <label>PriceId:</label> <input type="number" name="PriceId" />
    </div>
    <div>
        <label>ResortId:</label> <input type="number" name="ResortId" />
    </div>
    <div>
        <label>DAY 1 hour:</label> <input type="number" name="DAY1Hour" />
    </div>
    <div>
        <label>DAY 2 hours:</label> <input type="number" name="DAY2Hours" />
    </div>
    <div>
        <label>DAY 3 hours:</label> <input type="number" name="DAY3Hours" />
    </div>
    <div>
        <label>DAY 4 hours:</label> <input type="number" name="DAY4Hours" />
    </div>
    <div>
        <label>NIGHT 1 hour:</label> <input type="number" name="NIGHT1Hour" />
    </div>
    <div>
        <label>NIGHT 2 hours:</label> <input type="number" name="NIGHT2Hours" />
    </div>
    <div>
        <label>NIGHT 3 hours:</label> <input type="number" name="NIGHT3Hours" />
    </div>
    <div>
        <label>NIGHT 4 hours:</label> <input type="number" name="NIGHT4Hours" />
    </div>

    <div>
        <input type="submit" value="Add New Price" />
    </div>

</form>


