@model Lesson1.Models.TrailDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this trail list?</h2>

<h3>TrailId: @Model.TrailId </h3>

<div class="box">
    <a class="cancel_btn" href="/Trail/List">Cancel</a>

    <form action="/Trail/Delete/@Model.TrailId" method="POST">
        <input type="submit" class="confirm_btn" value="Confirm Delete" />
    </form>

</div>



