@model IEnumerable<Lesson1.Models.ResortDto>
@{
    ViewBag.Title = "Create";
}

<h1><a class="back_btn" href="/Trail/List"><< </a></h1>
<h2>Create new trail information</h2>


<form action="/Trail/Create" method="POST">
    <div>
        <label>Resort:</label>
        <select name="ResortId">
            @foreach (var resort in Model)
            {
                <option value="@resort.ResortId">@resort.ResortName</option>

            }
        </select>
    </div>
    
   
    <div>
        <label>Beginner Trails:</label> <input type="number" name="BeginnerTrails" />
    </div>
    <div>
        <label>Intermediate Trails:</label> <input type="number" name="IntermediateTrails" />
    </div>
    <div>
        <label>Advanced Trails:</label> <input type="number" name="AdvancedTrails" />
    </div>
    <div>
        <label>Terrain Parks:</label> <input type="number" name="TerrainPark" />
    </div>
    <div>
        <label>Tubing Parks:</label> <input type="number" name="TubingPark" />
    </div>

    <div>
        <input type="submit" value="Add New Trail" />
    </div>

</form>

