@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ski Resorts</h1>
    <p class="lead">This is your guide to winter fun! Plan your friends and family getaway trips now to hit the slopes!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Resort list</h2>
        <p>
            Many of the province's ski resorts are concentrated in southern Ontario within driving distance of the province's capital city of Toronto.
        </p>
        <p><a class="btn btn-default" href="/Resort/List">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Price list</h2>
        <p>Easy to compare the prices of the lift tickets. Save up more on discounts, multiday passes, season passes, deals on rentals and more.</p>
        <p><a class="btn btn-default" href="/Price/List">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Trail list</h2>
        <p>Find a resort that fulfills all skiers or snowboarders with different levels.</p>
        <p><a class="btn btn-default" href="/Trail/List">Learn more &raquo;</a></p>
    </div>
</div>